<template>
    <div>
        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <div class="toolbar">
                    <!--Open  Modal Add Star Button -->
                    <el-button
                        @click="dialogVisible = true"
                        type="primary"
                        title="Ajouter un star"
                    >
                        Ajouter un star
                    </el-button>
                </div>
            </el-header>
            <!-- Modal Add Star -->
            <el-dialog
                v-model="dialogVisible"
                title="Ajouter un star"
                width="30%"
                draggable
            >
                <el-form
                    :label-position="'left'"
                    label-width="100px"
                    style="max-width: 460px"
                    ref="formRef"
                >
                    <center>
                        <el-image
                            v-if="location"
                            style="
                                width: 100px;
                                height: 100px;
                                margin-bottom: 10px;
                                border-radius: 50%;
                            "
                            :src="location"
                            :zoom-rate="1.2"
                            :preview-src-list="[location]"
                            :initial-index="4"
                            fit="cover"
                        />
                    </center>

                    <div class="form-group">
                        <el-form-item
                            label="Nom :"
                            :rules="[
                                { required: true, message: 'Nom obligatoire' },
                            ]"
                        >
                            <el-input
                                v-model="starToAdd.nom"
                                clearable
                                prop="first_name"
                        /></el-form-item>
                    </div>

                    <div class="form-group">
                        <el-form-item
                            label="Prénom :"
                            :rules="[
                                {
                                    required: true,
                                    message: 'Prénom obligatoire',
                                },
                            ]"
                        >
                            <el-input v-model="starToAdd.prenom" clearable
                        /></el-form-item>
                    </div>

                    <div
                        class="form-group"
                        :rules="[
                            {
                                required: true,
                                message: 'Description obligatoire',
                            },
                        ]"
                    >
                        <el-form-item label="Description :">
                            <el-input
                                v-model="starToAdd.description"
                                :rows="2"
                                type="textarea"
                        /></el-form-item>
                    </div>
                    <div class="form-group">
                        <el-form-item
                            label="Image :"
                            :rules="[
                                {
                                    required: true,
                                    message: 'Image obligatoire',
                                },
                            ]"
                        >
                            <fg-input :label="'Image'">
                                <el-button
                                    size="small"
                                    style="width: 100%"
                                    type="primary"
                                    @click="chooseCachet"
                                >
                                    <i class="fa fa-download"></i>
                                    Choisir Image
                                    <input
                                        ref="filecachet"
                                        accept="image/*"
                                        style="display: none"
                                        type="file"
                                        @change="uploadCachet"
                                    />
                                </el-button>
                            </fg-input>
                        </el-form-item>
                    </div>

                    <div class="actionModel mt-3">
                        <div class="messageError">
                            <div v-if="error" class="error">
                                <ul
                                    v-if="Array.isArray(error)"
                                    style="list-style-type: none"
                                >
                                    <li
                                        v-for="(e, index) in error"
                                        :key="index"
                                    >
                                        {{ e }}
                                    </li>
                                </ul>
                                <div v-else>{{ error }}</div>
                            </div>
                        </div>
                    </div>
                </el-form>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button @click="resetModalStar">Annuler</el-button>

                        <el-button
                            type="primary"
                            @click.prevent="handleSubmitStar()"
                            :disabled="
                                getNewStarLoading ||
                                !computedValidationFormAddStar
                            "
                            :loading="getNewStarLoading"
                        >
                            Ajouter
                        </el-button>
                    </span>
                </template>
            </el-dialog>
            <!-- End Modal Add Star -->
            <el-main>
                <el-scrollbar class="table-block">
                    <!-- Table Stars -->
                    <el-table
                        :data="computedStars"
                        style="width: 100%"
                        v-loading="getStarsDataLoading"
                    >
                        <el-table-column prop="img_url" label="Image">
                            <template #default="scope">
                                <el-image
                                    style="width: 100px; height: 100px"
                                    :src="scope.row.img_url"
                                    :zoom-rate="1.2"
                                    :preview-src-list="[scope.row.img_url]"
                                    :initial-index="4"
                                    fit="cover"
                                /> </template
                        ></el-table-column>
                        <el-table-column
                            prop="first_name"
                            label="Prénom"
                            width="180"
                        />
                        <el-table-column
                            prop="last_name"
                            label="Nom"
                            width="180"
                        />
                        <el-table-column
                            prop="description"
                            label="Description"
                        />

                        <el-table-column align="right">
                            <template #header>
                                <el-input
                                    v-model="search"
                                    size="small"
                                    placeholder="Rechercher par nom"
                                />
                            </template>
                            <template #default="scope">
                                <el-button
                                    size="small"
                                    @click="handleEditStart(scope.row)"
                                    >Modifier</el-button
                                >
                                <el-button
                                    size="small"
                                    type="danger"
                                    @click="handleDeleteStart(scope.row)"
                                    >Supprimer</el-button
                                >
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- End Table Stars -->
                </el-scrollbar>
                <div>
                    <el-pagination
                        v-model:current-page="page"
                        style="justify-content: center"
                        background
                        layout="prev, pager, next"
                        :total="computedDataForPagination.length"
                    />
                </div>
            </el-main>
        </el-container>
        <!-- Modal Edit Star -->
        <el-dialog
            v-model="dialogVisibleEditStar"
            title="Modifier un star"
            width="30%"
            draggable
        >
            <el-form
                :label-position="'left'"
                label-width="100px"
                style="max-width: 460px"
                v-if="starToEdit"
            >
                <center>
                    <el-image
                        v-if="starToEdit && starToEdit.img_url"
                        style="
                            width: 100px;
                            height: 100px;
                            margin-bottom: 10px;
                            border-radius: 50%;
                        "
                        :src="location ? location : starToEdit.img_url"
                        :zoom-rate="1.2"
                        :preview-src-list="[
                            location ? location : starToEdit.img_url,
                        ]"
                        :initial-index="4"
                        fit="cover"
                    />
                </center>

                <div class="form-group">
                    <el-form-item
                        label="Nom :"
                        :rules="[
                            {
                                required: true,
                            },
                        ]"
                    >
                        <el-input v-model="starToEdit.last_name" clearable
                    /></el-form-item>
                </div>

                <div class="form-group">
                    <el-form-item
                        label="Prénom :"
                        :rules="[
                            {
                                required: true,
                            },
                        ]"
                    >
                        <el-input v-model="starToEdit.first_name" clearable
                    /></el-form-item>
                </div>

                <div class="form-group">
                    <el-form-item
                        label="Description :"
                        :rules="[
                            {
                                required: true,
                            },
                        ]"
                    >
                        <el-input
                            v-model="starToEdit.description"
                            :rows="2"
                            type="textarea"
                    /></el-form-item>
                </div>
                <div class="form-group">
                    <el-form-item label="Image :">
                        <fg-input :label="'Image'">
                            <el-button
                                size="small"
                                style="width: 100%"
                                type="primary"
                                @click="chooseCachet"
                            >
                                <i class="fa fa-download"></i>
                                Nouvelle image
                                <input
                                    ref="filecachet"
                                    accept="image/*"
                                    style="display: none"
                                    type="file"
                                    @change="uploadCachetInEdit"
                                />
                            </el-button>
                        </fg-input>
                    </el-form-item>
                </div>

                <div class="actionModel mt-3">
                    <div class="messageError">
                        <div v-if="error" class="error">
                            <ul
                                v-if="Array.isArray(error)"
                                style="list-style-type: none"
                            >
                                <li v-for="(e, index) in error" :key="index">
                                    {{ e }}
                                </li>
                            </ul>
                            <div v-else>{{ error }}</div>
                        </div>
                    </div>
                </div>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="resetModalStar('Edit')"
                        >Annuler</el-button
                    >
                    <el-button
                        type="primary"
                        @click.prevent="handleSubmitEditStar"
                        :disabled="
                            getEditStarLoading ||
                            !computedValidationFormEditStar
                        "
                        :loading="getEditStarLoading"
                    >
                        Modifier
                    </el-button>
                </span>
            </template>
        </el-dialog>
        <!-- End Modal Edit Star -->
        <!-- Modal Delete Star  -->
        <el-dialog
            v-model="dialogVisibleDeleteStar"
            title="Supprimer un star"
            width="30%"
            destroy-on-close
            center
        >
            <span v-if="starToDelete">
                Êtes-vous sur de vouloir supprimer
                <strong>{{
                    starToDelete.last_name + " " + starToDelete.first_name
                }}</strong
                >?
            </span>

            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="resetModalStar('Delete')"
                        >Annuler</el-button
                    >
                    <el-button
                        type="primary"
                        @click="handleSubmitDeleteStar"
                        :disabled="getDeleteStarLoading"
                        :loading="getDeleteStarLoading"
                    >
                        Confirmer
                    </el-button>
                </span>
            </template>
        </el-dialog>
        <!-- End Modal Delete Star -->
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { ElNotification } from "element-plus";

export default {
    data() {
        return {
            page: 1,
            error: null,
            search: null,
            starToAdd: {
                nom: null,
                prenom: null,
                image: null,
                description: null,
            },
            dialogVisible: false,
            starToEdit: null,
            starToEditOrigine: null,
            dialogVisibleEditStar: false,
            starToDelete: null,
            dialogVisibleDeleteStar: false,
            starToEditImage: null,
            location: null,
        };
    },
    computed: {
        ...mapGetters([
            "getStarsData",
            "getStarsDataLoading",
            "getNewStarLoading",
            "getEditStarLoading",
            "getDeleteStarLoading",
        ]),
        computedValidationFormAddStar() {
            return this.starToAdd &&
                this.starToAdd.nom &&
                this.starToAdd.prenom &&
                this.starToAdd.description &&
                this.starToAdd.image
                ? true
                : false;
        },
        computedValidationFormEditStar() {
            return this.starToEdit &&
                this.starToEdit.first_name &&
                this.starToEdit.last_name &&
                this.starToEdit.description
                ? true
                : false;
        },
        computedDataForPagination() {
            return this.getStarsData.filter(
                (data) =>
                    !this.search ||
                    data.last_name
                        .toLowerCase()
                        .includes(this.search.toLowerCase())
            );
        },
        computedStars() {
            return this.getStarsData
                .filter(
                    (data) =>
                        !this.search ||
                        data.last_name
                            .toLowerCase()
                            .includes(this.search.toLowerCase())
                )
                .filter(
                    (i, index) =>
                        index < this.page * 10 && index >= (this.page - 1) * 10
                );
        },
    },
    methods: {
        ...mapActions([
            "fetchStarsData",
            "addNewStar",
            "EditStar",
            "DeleteStar",
        ]),
        uploadCachet(event) {
            let input = event.target;
            if (input.files) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.location = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
                this.starToAdd.image = input.files[0];
            }
        },
        uploadCachetInEdit(event) {
            let input = event.target;
            if (input.files) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.location.cachet = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
                this.starToEditImage = input.files[0];
            }
        },
        chooseCachet() {
            this.$refs.filecachet.click();
        },
        resetModalStar(type) {
            this.location = null;
            if (type && type == "Edit") {
                this.dialogVisibleEditStar = false;
                this.starToEdit = null;
                this.starToEditImage = null;
                this.starToEditOrigine = null;
            } else if (type && type == "Delete") {
                this.dialogVisibleDeleteStar = false;
                this.starToDelete = null;
            } else {
                this.dialogVisible = false;
                this.starToAdd = {
                    nom: null,
                    prenom: null,
                    image: null,
                    description: null,
                };
            }
        },
        fetchStarsDataMethode() {
            this.fetchStarsData();
        },
        async handleSubmitStar() {
            var formData = new FormData();
            formData.append("last_name", this.starToAdd.nom);
            formData.append("first_name", this.starToAdd.prenom);
            formData.append("img", this.starToAdd.image);
            formData.append("description", this.starToAdd.description);
            const res = await this.addNewStar(formData);

            if (res) {
                this.resetModalStar();
                ElNotification.success({
                    title: "Success",
                    message: "Star ajouté avec succès",
                    offset: 100,
                    duration: 1000,
                });
            }
        },
        handleDeleteStart(item) {
            this.starToDelete = item;
            this.dialogVisibleDeleteStar = true;
        },
        handleEditStart(item) {
            this.starToEditOrigine = item;
            this.starToEdit = { ...item };
            this.dialogVisibleEditStar = true;
        },
        async handleSubmitEditStar() {
            var formData = new FormData();
            formData.append("last_name", this.starToEdit.last_name);
            formData.append("first_name", this.starToEdit.first_name);
            if (this.starToEditImage) {
                formData.append("img", this.starToEditImage);
            }
            formData.append("description", this.starToEdit.description);
            const res = await this.EditStar({
                data: formData,
                star: this.starToEditOrigine,
            });
            if (res) {
                ElNotification.success({
                    title: "Success",
                    message: "Star modifié avec succès",
                    offset: 100,
                    duration: 1000,
                });
                this.resetModalStar("Edit");
            }
        },
        async handleSubmitDeleteStar() {
            const res = await this.DeleteStar(this.starToDelete);
            if (res) {
                ElNotification.success({
                    title: "Success",
                    message: "Star supprimé avec succès",
                    offset: 100,
                    duration: 1000,
                });
                this.resetModalStar("Delete");
            }
        },
    },
    mounted() {
        this.fetchStarsDataMethode();
    },
};
</script>

<style scoped>
.table-block {
    height: calc(100vh - 118px);
    margin-block: 5px;
    overflow-y: auto;
}
.el-main {
    padding: 0px;
}
</style>
