<template>
    <div class="home-star">
        <h1><center>Profile Broser</center></h1>
        <div>
            <customItem
                v-for="(star, index) in getStarsData"
                :item="star"
                :key="'key-star' + index"
                @handleVisibilityItem="handleVisibilityItem"
                :className="
                    index == 0
                        ? 'border-raduis-top'
                        : index == getStarsData.length - 1
                        ? 'border-raduis-buttom'
                        : ''
                "
            />
        </div>
    </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import customItem from "../componments/custom-item.vue";
import { ElLoading } from "element-plus";
export default {
    name: "main",
    computed: {
        ...mapGetters(["getStarsData", "getStarsDataLoading"]),
    },
    methods: {
        ...mapActions(["fetchStarsData"]),
        fetchStarsDataMethode() {
            this.fetchStarsData();
        },
        handleVisibilityItem(item) {
            if (item.show == true) {
                item.show = false;
            } else {
                this.getStarsData.map((i) => {
                    if (i.id == item.id) {
                        i.show = true;
                    } else {
                        i.show = false;
                    }
                });
            }
        },
    },
    components: { customItem },
    async mounted() {
        const loading = ElLoading.service({
            lock: true,
            text: "Loading",
            background: "rgba(0, 0, 0, 0.7)",
        });
        await this.fetchStarsDataMethode();
        loading.close();
    },
};
</script>
<style scoped></style>
