<template>
    <div class="item-star">
        <div
            class="item-star-title"
            @click.prevent.stop="showItem(item)"
            :class="{
                'item-star-title-active': item.show == true,
                'border-raduis-top': className == 'border-raduis-top',
                'border-raduis-buttom': className == 'border-raduis-buttom',
            }"
        >
            {{ item.last_name }} {{ item.first_name }}
        </div>
        <div class="item-star-content" v-show="item.show">
            <span class="title-star"
                >{{ item.last_name }} {{ item.first_name }}</span
            >
            <img :src="item.img_url" class="image-star" />

            <div class="desc-star">{{ item.description }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        item: {
            type: Object,
            required: true,
        },
        className: { required: false },
    },
    methods: {
        showItem(item) {
            this.$emit("handleVisibilityItem", item);
        },
    },
};
</script>

<style scoped>
.item-star {
    display: flex;
}
.item-star-title {
    background: #d0d0d0;
    font-weight: 700;
    padding: 3px 0px 3px 10px;
    font-size: 12px;
    border: 1px solid #bcbcbc;
    border-top: none;
    width: 20%;
    cursor: pointer;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 6%);
    border-right: none;
}
.item-star-title:hover {
    background: #b0afaf1c;
}
.item-star-title-active {
    background-color: #fff;
    width: 20.1%;
    z-index: 10;
}
.border-raduis-top {
    border-radius: 9px 0px 0px 1px;
}
.border-raduis-buttom {
    border-radius: 0px 0px 0px 9px;
}
.item-star-content {
    height: 100%;
    top: 49px;
    left: 21.1%;
    position: fixed;
    width: 70%;
    padding-left: 5px;
    border-left: 1px solid #bcbcbc;
}
.image-star {
    height: 100px;
    width: 100px;
    object-fit: cover;
    float: left;
    padding-right: 8px;
}
.desc-star {
}
.title-star {
    font-size: 24px;
    font-weight: 600;
}
/* Pour les smartphones en mode portrait */
@media only screen and (max-width: 480px) {
    .item-star {
        display: inline;
    }
    .item-star-content {
        height: auto;
        min-height: 169px;
        top: auto;
        left: auto;
        position: relative;
        width: 100%;
        padding-top: 5px;
        display: block;
        border: none;
    }
    .item-star-title {
        width: 100%;
        border-right: 1px solid #bcbcbc;
    }
    .title-star {
        display: block;
        padding-bottom: 19px;
    }
    .border-raduis-buttom,
    .border-raduis-top {
        border-radius: 0px;
    }
}

/* Pour les smartphones en mode paysage */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .item-star {
        display: inline;
    }
    .item-star-content {
        height: auto;
        min-height: 169px;
        top: auto;
        left: auto;
        position: relative;
        width: 100%;
        padding-top: 5px;
        display: block;
        border: none;
    }
    .item-star-title {
        width: 100%;
        border-right: 1px solid #bcbcbc;
    }
    .title-star {
        display: block;
        padding-bottom: 19px;
    }
    .border-raduis-buttom,
    .border-raduis-top {
        border-radius: 0px;
    }
}
</style>
